.contenedor-nav .navbar-brand{font-family: sans;
color: rgb(248, 248, 248);}

.contenedor-nav .nav-link{
    color: white;
    font-style: none;
}

.contenedor-nav .navbar{
    
    position: fixed; /* Para que permanezca en la parte superior */
    top: 0;
    left: 0;
    right: 0;
    background: rgba(15, 15, 15, 0.205); /* Fondo blanco con 30% de opacidad */
    backdrop-filter: blur(10px); /* Aplica el desenfoque al fondo */
    padding: 15px; /* Espaciado interno */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil para resaltar la navbar */
    z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
    border-bottom: 2px solid rgb(59, 59, 59);

    
}
.contenedor-nav ul{
    width: 100%;
}
.contenedor-nav li{
    width: 50px;
}
.contenedor-nav .navbar-nav{
    position: relative;
    top: 4px;
    flex-direction: row;
    
}.contenedor-nav .collapse{
    text-align: center;
}
.contenedor-nav .nav-item{
    margin: 0;
    width:20%;
}
@media(max-width: 400px){
    .contenedor-nav .nav-item{display: none;}
}