.explore-button{
background-image: url('https://images.unsplash.com/photo-1614852206732-6728910dc175?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}
.explore-button:hover{
    background-color: blueviolet;
    transform: scale(1.08);
    
}
.view-components-button{
    background-image: url('https://images.unsplash.com/photo-1614852206732-6728910dc175?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');

}
.view-components-button:hover{
    background-color: blueviolet;
    transform: scale(1.08);
     
}